<textarea cols="50" rows="25" [value]="config | stringifyJson : 4" (blur)="updateConfig($any($event.target).value)">
  </textarea>
<div>
  <button type="button" (click)="toggleCheckout()">
    Toggle Checkout Screen
  </button>
  <button type="button" (click)="initializeCheckout()">
    Re-render with updated config
  </button>
  <input type="checkbox" [checked]="openInPopup" (change)="openInPopup = !openInPopup; initializeCheckout();" /> Open in popup
</div>
<br />

<div><b>CHECKOUT VISIBILITY :</b> {{isCheckoutVisible}}</div>

<paytm-checkout *ngIf="isCheckoutVisible"></paytm-checkout>